airbnbdataFA/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "airbnbdataFA"
		},
		"AzureDataLakeStorage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage'"
		},
		"AzureDataLakeStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://abdatalake.dfs.core.windows.net/"
		},
		"HttpServer2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com/emmy-1/NYC-Airbnb-Market-/main/Airbnb/Transformed%20Data/_AB_NYC_2023.csv"
		},
		"HttpServer2019_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com/emmy-1/NYC-Airbnb-Market-/main/Airbnb/Transformed%20Data/_AB_NYC_2019.csv"
		},
		"HttpServer2024_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com/emmy-1/NYC-Airbnb-Market-/main/Airbnb/Transformed%20Data/_AB_NYC_2024.csv"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Link Service for the Datalake Storage",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Link connector for 2023 Airbnb dataset",
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer2_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer2019')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked Service for the 2019 Dataset",
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer2019_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer2024')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "link service propeties for the AB_NYC_2024 Dataset",
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer2024_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/2019')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "2019.csv",
						"folderPath": "Raw Datasets",
						"fileSystem": "ffs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "description",
						"type": "String"
					},
					{
						"name": "host_id",
						"type": "String"
					},
					{
						"name": "host_name",
						"type": "String"
					},
					{
						"name": "neighbourhood",
						"type": "String"
					},
					{
						"name": "neighbourhood_group",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "property_type",
						"type": "String"
					},
					{
						"name": "room_type",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "minimum_nights",
						"type": "String"
					},
					{
						"name": "number_of_reviews",
						"type": "String"
					},
					{
						"name": "last_review",
						"type": "String"
					},
					{
						"name": "calculated_host_listings_count",
						"type": "String"
					},
					{
						"name": "availability_365",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/2023')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "2023.csv",
						"folderPath": "Raw Datasets",
						"fileSystem": "ffs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/2024')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "2024.csv",
						"folderPath": "Raw Datasets",
						"fileSystem": "ffs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "host_id",
						"type": "String"
					},
					{
						"name": "host_name",
						"type": "String"
					},
					{
						"name": "neighbourhood_group",
						"type": "String"
					},
					{
						"name": "neighbourhood",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "room_type",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "minimum_nights",
						"type": "String"
					},
					{
						"name": "number_of_reviews",
						"type": "String"
					},
					{
						"name": "last_review",
						"type": "String"
					},
					{
						"name": "calculated_host_listings_count",
						"type": "String"
					},
					{
						"name": "availability_365",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AB2019')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpServer2019",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\n",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttpServer2019')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AB2023')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpServer2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\n",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttpServer2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AB2024')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpServer2024",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\n",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttpServer2024')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AB_NYC Pipline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This Datapipline Extracts, Transforms and load the airbnb pipline from 2019 to 2024.",
				"activities": [
					{
						"name": "AB_2024 Copy Activity",
						"description": "This copy activity sources the airbnb 2024 datasets from the NYC Market trend repo and  sinks into a azure gen2 datalake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64",
											"physicalType": "String"
										},
										"sink": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "description",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "host_id",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "host_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "host_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "host_name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "neighbourhood",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "neighbourhood",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "neighbourhood_group",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "neighbourhood_group",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "latitude",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "latitude",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "longitude",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "longitude",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "property_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "property_type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "room_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "room_type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "price",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "minimum_nights",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "minimum_nights",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "number_of_reviews",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "number_of_reviews",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "calculated_host_listings_count",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "calculated_host_listings_count",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "availability_365",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "availability_365",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AB2024",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "2024",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Wait 2 Sec",
						"description": "Wait 2 seconds after a copy activity.",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "AB_2024 Copy Activity",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "AB_2023 Copy Activity",
						"description": "This copy activity sources the airbnb 2023 datasets from the NYC Market trend repo and  sinks into a azure gen2 datalake",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Wait 2 Sec",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64",
											"physicalType": "String"
										},
										"sink": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "description",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "host_id",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "host_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "host_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "host_name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "neighbourhood",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "neighbourhood",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "neighbourhood_group",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "neighbourhood_group",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "latitude",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "latitude",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "longitude",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "longitude",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "property_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "property_type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "room_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "room_type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "price",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "minimum_nights",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "minimum_nights",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "number_of_reviews",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "number_of_reviews",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "calculated_host_listings_count",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "calculated_host_listings_count",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "availability_365",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "availability_365",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AB2023",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "2023",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Wait 3 Sec_",
						"description": "Wait 3 seconds after a copy activity.",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "AB_2023 Copy Activity",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "AB_2019 Copy Activity",
						"description": "This copy activity sources the airbnb 2019 datasets from the NYC Market trend repo and  sinks into a azure gen2 datalake",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Wait 3 Sec_",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64",
											"physicalType": "String"
										},
										"sink": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "host_id",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "host_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "host_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "host_name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "neighbourhood_group",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "neighbourhood_group",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "neighbourhood",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "neighbourhood",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "latitude",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "latitude",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "longitude",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "longitude",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "room_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "room_type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "price",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "minimum_nights",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "minimum_nights",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "number_of_reviews",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "number_of_reviews",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "calculated_host_listings_count",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "calculated_host_listings_count",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "availability_365",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "availability_365",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AB2019",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "2019",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-03-18T23:34:49Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AB2024')]",
				"[concat(variables('factoryId'), '/datasets/2024')]",
				"[concat(variables('factoryId'), '/datasets/AB2023')]",
				"[concat(variables('factoryId'), '/datasets/2023')]",
				"[concat(variables('factoryId'), '/datasets/AB2019')]",
				"[concat(variables('factoryId'), '/datasets/2019')]"
			]
		}
	]
}